
/* LANGUAGE SWITCH BUTTON */
.lang-switch {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 50;
}

.lang-switch select {
    padding: 8px 14px;
    background: rgba(0,0,0,0.7);
    color: white;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.lang-switch select:hover {
    background: rgba(255,255,255,0.2);
}

/* ROTATION OF RINGS */
@keyframes rotate {
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.stamp-overlay {

    position: absolute;
    top: 15px;          /* Adjust vertical position */
    left: 30%;
    transform: translateX(-50%);
    width: 180px;        /* Size of the stamp */
    opacity: 0.28;       /* Transparency */
    pointer-events: none; /* Prevent blocking clicks */
}
#titleText {
    color: var(--accent);
    font-style: var(--accent);
}

#titleText {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: #2a4aff;
    text-shadow: 0 0 6px rgba(53, 122, 248, 0.7), 0 0 12px rgba(88, 105, 255, 0.5);
}

.logo {
    filter: drop-shadow(0 0 8px rgba(253, 238, 102, 0.6));
}





